{% include 'layout.html' %}
    
<div class="container">
    <div class="card">
        <div class="card-header">
            Let's edit your todo!
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" class="form-control" name="title" value="{{todo.title}}" required>
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <textarea name="description" class="form-control" rows="3" required>{{todo.description}}</textarea>
                </div>
                <div class="form-group">
                    <label>Priority</label>
                    <select name="priority" class="form-control">
                        {% for i in range(1, 6) %}
                            {% if todo.priority == i %}
                            <option {% if todo.priority == i %} selected="selected" {% endif %}>{{i}}</option>
                            {% else %}
                            <option>{{i}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Edit your todo</button>
                <a href="{{ url_for('delete_todo', todo_id=todo.id) }}" class="btn btn-danger">Delete</a>
            </form>
        </div>
    </div>
</div>
