<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/todo/css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/todo/css/bootstrap.css') }}">
    <meta>
    <title>FastAPI</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-md navbar-dark main-color fixed-top">
             <a class="navbar-brand" href="#">Todo App</a>
             <button></button>
        </nav>
    </div>

    <h1>Welcome to my first API Project</h1>
</body>
</html>